<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <%= fa_icon 'user-circle', text: @person.classification.classification %>
        <%= link_to edit_person_path(@person), :class => 'btn btn-sm btn-primary float-right' do %>
          <%= fa_icon 'pencil', text: 'Editar' %>
        <% end %>
        <strong><%= @person.name %></strong>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <tr>
            <td><%= fa_icon 'at', text: @person.mail %></td>
            <td><%= fa_icon 'mobile', text: @person.phone  %></td>
            <td><%= fa_icon 'map-marker', text: @person.address %></td>
            <td><%= fa_icon 'calendar', text: @person.came_in %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
