<div class="card-header">
  <strong>Editar</strong>
  Pessoa
</div>
<%= form_with(model: person, local: true, html: { enctype: 'multipart/form-data' }) do |form| %>
<div class="card-body">
  <div class="form-group row">
    <div class="col-md-12">
      <%= form.label :name, 'Nome', class: 'form-control-label' %>
      <%= form.text_field :name, id: :person_name, class: 'form-control', placeholder: 'Digite o nome completo' %>
      <%= content_tag :span, "Preencha com o nome completo da pessoa que deseja cadastrar", :class => "help-block" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= form.label :mail, 'E-mail', class: 'form-control-label' %>
      <%= form.email_field :mail, id: :person_mail, class: 'form-control', placeholder: 'Digite o e-mail' %>
    </div>
    <div class="col-md-6">
      <%= form.label :mail, 'Telefone', class: 'form-control-label' %>
      <%= form.telephone_field :phone, id: :person_phone, class: 'form-control', placeholder: 'Digite o telefone' %>
      <%= content_tag :span, "Utilize o seguinte formato: (99)99999-9999", :class => "help-block" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-12">
      <%= form.label :address, 'Endereço', class: 'form-control-label' %>
      <%= form.text_field :address, id: :person_address, class: 'form-control', placeholder: 'Digite o endereço completo' %>
      <%= content_tag :span, "Utilize o seguinte formato: Nome da rua, nº, Bairro - Cidade/UF", :class => "help-block" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-6">
      <%= form.label :came_in, 'Data de Cadastro', class: 'form-control-label' %>
      <%= form.date_field :came_in, id: :person_came_in, class: 'form-control', placeholder: '00/00/0000' %>
    </div>
    <div class="col-md-6">
      <%= form.label :picture, 'Foto', class: 'form-control-label' %>
      <%= form.file_field :picture, id: :person_picture, class: 'form-control', accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>
  </div>
  <div class="form-group row">
    <%= form.label :classification_id, 'Classificação', class: 'col-md-2 form-control-label' %>
    <div class="col-md-10">
      <%= form.select :classification_id, Classification.all.collect { |c| [ c.classification, c.id ] }, {prompt: "Selecione uma opção"}, {class: 'form-control'}  %>
    </div>
  </div>
</div>
<div class="card-footer">
  <%= form.submit :class => 'btn btn-sm btn-primary' %>
</div>
<% end %>
