<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
  <%= render "shared/header" %>
  <div class="app-body">
    <%= render "shared/sidebar" %>
    <!-- Main content -->
    <main class="main">
      <%= render "shared/breadcrumb" %>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-header">
                  <%= fa_icon "align-justify", text: "Striped Table" %>
                </div>
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th colspan="2"></th>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Endereço</th>
                        <th>Data de Cadastro</th>
                        <th>Classificação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @people.each do |person| %>
                        <tr>
                          <td>
                            <%= link_to edit_person_path(person) do %>
                              <%= fa_icon 'pencil' %>
                            <% end %>
                          </td>
                          <td>
                            <%= link_to person, method: :delete, data: { confirm: 'Are you sure?' } do %>
                              <%= fa_icon 'trash-o' %>
                            <% end %>
                          </td>
                          <td>
                            <%= image_tag person.picture, class: "img-avatar",  alt: person.mail %>
                          </td>
                          <td><%= link_to person.name, person %></td>
                          <td><%= person.phone %></td>
                          <td><%= person.mail %></td>
                          <td><%= person.adrress %></td>
                          <td><%= person.came_in %></td>
                          <td><%= person.classification %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                  <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Prev</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--/.col-->
        </div>
      </div>
      <!-- /.conainer-fluid -->
    </main>
    <% render "shared/aside" %>
  </div>
  <%= render "shared/footer" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</body>
