<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">☰</button>
  <%= link_to "", root_path, :class => "navbar-brand" %>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">☰</button>

  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <%= link_to "Dashboard", dashboard_path, :class => "nav-link" %>
    </li>
    <li class="nav-item px-3">
      <%= link_to "Users", dashboard_path, :class => "nav-link" %>
    </li>
    <li class="nav-item px-3">
      <%= link_to "Settings", dashboard_path, :class => "nav-link" %>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <%= link_to dashboard_path, :class => "nav-link" do %>
        <%= fa_icon "bell-o" %>
        <%= content_tag :span, "5", :class => "badge badge-pill badge-danger" %>
      <% end %>
    </li>
    <li class="nav-item d-md-down-none">
      <%= link_to dashboard_path, :class => "nav-link" do %>
        <%= fa_icon "list" %>
      <% end %>
    </li>
    <li class="nav-item d-md-down-none">
      <%= link_to dashboard_path, :class => "nav-link" do %>
        <%= fa_icon "map-marker" %>
      <% end %>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= image_tag "avatars/6.jpg", class: "img-avatar",  alt: "admin@bootstrapmaster.com" %>
        <%= content_tag :span, "admin", :class => "d-md-down-none" %>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "bell-o", text: "Updates" %>
          <%= content_tag :span, "42", :class => "badge badge-info" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "envelope-o", text: "Messages" %>
          <%= content_tag :span, "42", :class => "badge badge-success" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "tasks", text: "Tasks" %>
          <%= content_tag :span, "42", :class => "badge badge-danger" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "comments", text: "Comments" %>
          <%= content_tag :span, "42", :class => "badge badge-warning" %>
        <% end %>
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "user", text: "Profile" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "wrench", text: "Settings" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "usd", text: "Payments" %>
          <%= content_tag :span, "42", :class => "badge badge-secondary" %>
        <% end %>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "file", text: "Projects" %>
          <%= content_tag :span, "42", :class => "badge badge-primary" %>
        <% end %>
        <div class="divider"></div>
        <%= link_to dashboard_path, :class => "dropdown-item" do %>
          <%= fa_icon "shield", text: "Lock Account" %>
        <% end %>
        <%= link_to login_path, :class => "dropdown-item" do %>
          <%= fa_icon "lock", text: "Logout" %>
        <% end %>
      </div>
    </li>
  </ul>
  <!-- <button class="navbar-toggler aside-menu-toggler" type="button">☰</button> -->
</header>
