<!-- Side Navbar -->
<nav class="side-navbar">
  <!-- Sidebar Header-->
  <div class="sidebar-header d-flex align-items-center">
    <div class="avatar">
      <%= image_tag "avatar-1.jpg", alt: "...", class: "img-fluid rounded-circle" %>
    </div>
    <div class="title">
      <h1 class="h4">Maicon Vieira</h1>
      <p>Militante</p>
    </div>
  </div>
  <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
  <ul class="list-unstyled">
    <li class="active">
      <%= link_to dashboard_path do %>
        <i class="icon-home"></i>Home
      <% end %>
    </li>
    <li><a href="#dashvariants" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Dropdown </a>
      <ul id="dashvariants" class="collapse list-unstyled">
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
        <li><a href="#">Page</a></li>
      </ul>
    </li>
    <li> <a href="tables.html"> <i class="icon-grid"></i>Tables </a></li>
    <li> <a href="charts.html"> <i class="fa fa-bar-chart"></i>Charts </a></li>
    <li> <a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
    <li> <a href="login.html"> <i class="icon-interface-windows"></i>Login Page</a></li>
  </ul><span class="heading">Extras</span>
  <ul class="list-unstyled">
    <li>
      <%= link_to "http://www.marxismo.org.br/", :target => "_blank", :rel => "nofollow" do %>
        <i class="fa fa-globe" aria-hidden="true"></i>Site da Esquerda Marxista
      <% end %>
    </li>
    <li>
      <%= link_to "https://www.marxist.com/", :target => "_blank", :rel => "nofollow" do %>
        <i class="fa fa-globe" aria-hidden="true"></i>Site CMI
      <% end %>
    </li>
    <li>
      <%= link_to "http://www.livrariamarxista.com.br/", :target => "_blank", :rel => "nofollow" do %>
        <i class="fa fa-book" aria-hidden="true"></i>Livraria Marxista
      <% end %>
    </li>
  </ul>
</nav>
