<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <%= link_to dashboard_path, :class => 'nav-link' do %>
          <%= fa_icon 'tachometer', text: 'Dashboard' %>
        <% end %>
      </li>
      <li class="nav-title">
        MENU
      </li>
      <li class="nav-item nav-dropdown">
        <%= link_to '#', :class => 'nav-link nav-dropdown-toggle' do %>
          <%= fa_icon 'group', text: 'Pessoas' %>
        <% end %>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <%= link_to people_path(), :class => 'nav-link' do %>
              <%= fa_icon 'user-circle', text: 'Pessoas' %>
            <% end %>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>
