<body class="app header-fixed sidebar-fixed">
  <%= render "shared/header" %>
  <div class="app-body">
    <%= render "shared/sidebar" %>
    <!-- Main content -->
    <main class="main">
      <%= render "shared/breadcrumb" %>
      <div class="container-fluid">
        <div class="animated fadeIn">
          <div class="row">
            <%= render "cota" %>
            <%= render "contribuinte" %>
            <%= render "assinatura-fm" %>
            <%= render "objetivo-fm" %>
          </div>
          <!--/.row-->
          <%= render "card-trafic" %>
          <%= render "card-social-box" %>
          <%= render "card-traffic-sales" %>
        </div>
      </div>
      <!-- /.conainer-fluid -->
    </main>
  </div>
  <%= render "shared/footer" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
</body>
